body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  margin: 0;
  background-color: #282c34;
}

.clock {
  border: 1px solid #fff;
  width: 35%;
  font-family: "italic", sans-serif;
  font-size: 4rem;
  color: #fcfcfd;
  background-color: #4470c9;
  padding: 20px;
  border-radius: 0px 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
